groups/bal/balb/balb_testmessages.xsd

<!--
 This file outlines the schema for classes used for testing the XML encoder and
 decoder.  The corresponding component can be generated by running
 'bas_codegen.pl' on this file.
 -->

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:bdem='http://bloomberg.com/schemas/bdem'
           bdem:package='balb'
           elementFormDefault='qualified'>


<xs:complexType name='Choice1'>
  <xs:choice>
    <xs:element name='selection1' type='xs:int'/>
    <xs:element name='selection2' type='xs:double'/>
    <xs:element name='selection3' type='Sequence4'/>
    <xs:element name='selection4' type='Choice2'/>
  </xs:choice>
</xs:complexType>

<xs:complexType name='Choice2'>
  <xs:choice>
    <xs:element name='selection1' type='xs:boolean'/>
    <xs:element name='selection2' type='xs:string'/>
    <xs:element name='selection3' type='Choice1'/>
    <xs:element name='selection4' type='xs:unsignedInt'/>    
  </xs:choice>
</xs:complexType>

<xs:complexType name='Choice3'>
  <xs:choice>
    <xs:element name='selection1' type='Sequence6'/>
    <xs:element name='selection2' type='xs:unsignedByte'/>
    <xs:element name='selection3' type='CustomString'/>
    <xs:element name='selection4' type='CustomInt'/>
  </xs:choice>
</xs:complexType>

<xs:simpleType name='CustomInt'>
  <xs:restriction base='xs:int'>
    <xs:maxInclusive value='1000'/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name='CustomString'>
  <xs:restriction base='xs:string'>
    <xs:maxLength value='8'/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name='Enumerated' bdem:preserveEnumOrder='true'>
  <xs:restriction base='xs:string'>
     <xs:enumeration value='NEW_YORK'/>
     <xs:enumeration value='NEW_JERSEY'/>
     <xs:enumeration value='LONDON'/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name='Sequence1'>
  <xs:sequence>
    <xs:element name='element1' type='Choice3' minOccurs='0'/>
    <xs:element name='element2' type='Choice1' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element3' type='Choice2' />
    <xs:element name='element4' type='Choice1' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element5' type='Choice3' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name='Sequence2'>
  <xs:sequence>
    <xs:element name='element1' type='CustomString' />
    <xs:element name='element2' type='xs:unsignedByte' />
    <xs:element name='element3' type='xs:dateTime' />
    <xs:element name='element4' type='Choice1' minOccurs='0'/>
    <xs:element name='element5' type='xs:double' minOccurs='0'/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name='Sequence3'>
  <xs:sequence>
    <xs:element name='element1' type='Enumerated' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element2' type='xs:string' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element3' type='xs:boolean' minOccurs='0'/>
    <xs:element name='element4' type='xs:string' minOccurs='0'/>
    <xs:element name='element5' type='Sequence5' minOccurs='0'/>
    <xs:element name='element6' type='Enumerated' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name='Sequence4'>
  <xs:sequence>
    <xs:element name='element1' type='Sequence3' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element2' type='Choice1' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element3' type='xs:hexBinary' minOccurs='0'/>
    <xs:element name='element4' type='xs:int' minOccurs='0'/>
    <xs:element name='element5' type='xs:dateTime' minOccurs='0'/>
    <xs:element name='element6' type='CustomString' minOccurs='0'/>
    <xs:element name='element7' type='Enumerated' minOccurs='0'/>
    <xs:element name='element8' type='xs:boolean' />
    <xs:element name='element9' type='xs:string' />
    <xs:element name='element10' type='xs:double' />
    <xs:element name='element11' type='xs:hexBinary' />
    <xs:element name='element12' type='xs:int' />
    <xs:element name='element13' type='Enumerated' />
    <xs:element name='element14' type='xs:boolean' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element15' type='xs:double' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element16' type='xs:hexBinary' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element17' type='xs:int' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element18' type='xs:dateTime' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element19' type='CustomString' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name='Sequence5'>
  <xs:sequence>
    <xs:element name='element1' type='Sequence3' />
    <xs:element name='element2' type='xs:boolean' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element3' type='xs:double' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element4' type='xs:hexBinary' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element5' type='xs:int' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element6' type='xs:dateTime' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element7' type='Sequence3' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name='Sequence6'>
  <xs:sequence>
    <xs:element name='element1' type='xs:unsignedByte' minOccurs='0'/>
    <xs:element name='element2' type='CustomString' minOccurs='0'/>
    <xs:element name='element3' type='CustomInt' minOccurs='0'/>
    <xs:element name='element4' type='xs:unsignedInt'/>
    <xs:element name='element5' type='xs:unsignedByte' />
    <xs:element name='element6' type='CustomInt' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element7' type='CustomString' />
    <xs:element name='element8' type='CustomInt' />
    <xs:element name='element9' type='xs:unsignedInt' minOccurs='0'/>
    <xs:element name='element10' type='xs:unsignedByte' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element11' type='CustomString' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element12' type='xs:unsignedInt' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element13' type='xs:unsignedByte' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element14' type='CustomInt' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element name='element15' type='xs:unsignedInt' nillable='true' minOccurs='0' maxOccurs='unbounded'/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name='VoidSequence'>
  <xs:sequence/>
</xs:complexType>

<xs:complexType name='UnsignedSequence'>
  <xs:sequence>
    <xs:element name='element1' type='xs:unsignedInt'/>
    <xs:element name='element2' type='xs:unsignedShort'/>
    <xs:element name='element3' type='xs:unsignedLong'/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name='SequenceWithAnonymity'>
  <xs:sequence>
    <xs:choice>
      <xs:element name='selection1' type='Sequence6'/>
      <xs:element name='selection2' type='xs:unsignedByte'/>
      <xs:element name='selection3' type='CustomString'/>
      <xs:element name='selection4' type='CustomInt'/>
    </xs:choice>
    <xs:choice>
      <xs:element name='selection5' type='xs:boolean'/>
      <xs:element name='selection6' type='xs:string'/>
    </xs:choice>
    <xs:choice minOccurs='0' maxOccurs='1'>
      <xs:element name='selection7' type='Sequence4'/>
      <xs:element name='selection8' type='Choice2'/>
    </xs:choice>
    <xs:element name='element4' type='Sequence6'/>
  </xs:sequence>
</xs:complexType>    

<xs:complexType name='FeatureTestMessage'>
  <xs:choice>
    <xs:element name='selection1'  type='Sequence1'/>
    <xs:element name='selection2'  type='xs:hexBinary'/>
    <xs:element name='selection3'  type='Sequence2'/>
    <xs:element name='selection4'  type='Sequence3'/>
    <xs:element name='selection5'  type='xs:dateTime'/>
    <xs:element name='selection6'  type='CustomString'/>
    <xs:element name='selection7'  type='Enumerated'/>
    <xs:element name='selection8'  type='Choice3'/>
    <xs:element name='selection9'  type='VoidSequence'/>
    <xs:element name='selection10' type='UnsignedSequence'/>
    <xs:element name='selection11' type='SequenceWithAnonymity'/>
  </xs:choice>
</xs:complexType>

  <xs:complexType name='SimpleRequest'>
    <xs:sequence>
      <xs:element name='data'           type='xs:string'/>
      <xs:element name='responseLength' type='xs:int'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='Request'>
    <xs:choice>
      <xs:element name='simpleRequest' type='SimpleRequest'/>
      <xs:element name='featureRequest' type='FeatureTestMessage'/>
    </xs:choice>
  </xs:complexType>
 
  <xs:complexType name='Response'>
    <xs:choice>
      <xs:element name='responseData'    type='xs:string'/>
      <xs:element name='featureResponse' type='FeatureTestMessage'/>
    </xs:choice>
  </xs:complexType>

</xs:schema>
