standalones/s_baltst/s_baltst_employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:bdem="http://bloomberg.com/schemas/bdem"
           bdem:package="s_baltst"
           elementFormDefault="qualified">

  <xs:include schemaLocation="s_baltst_address.xsd"/>

  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="homeAddress"
                  type="Address"
                  bdem:cppheader='s_baltst_address.h'/>
      <xs:element name="age" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
