standalones/s_baltst/s_baltst_mysequencewithchoice.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:bdem='http://bloomberg.com/schemas/bdem'
           bdem:package='s_baltst'
           elementFormDefault='qualified'>

  <xs:complexType name='MySequenceWithChoice'>
    <xs:sequence>
      <xs:element name='mode' type='MySequenceWithChoiceChoice'/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='MySequenceWithChoiceChoice'>
    <xs:choice>
      <xs:element name='choiceA' type='xs:int'/>
    </xs:choice>
  </xs:complexType>

</xs:schema>
