standalones/s_baltst/s_baltst_mysequencewithnullableanonymouschoice.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns              = 'http://www.w3.org/2001/XMLSchema'
        xmlns:bdem         = 'http://bloomberg.com/schemas/bdem'
        xmlns:tst          = 'urn:x-bloomberg-com:tst'
        targetNamespace='http://bloomberg.com/schemas/s_baltst'
        bdem:package       = 's_baltst'
        elementFormDefault = 'qualified'>

  <complexType name='MySequenceWithNullableAnonymousChoice'>
    <sequence>
      <choice minOccurs="0">
        <element name='choiceA' type='int'/>
        <element name='choiceB' type='int'/>
      </choice>
    </sequence>
  </complexType>
</schema>
