standalones/s_baltst/s_baltst_unsignedsequence.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:bdem='http://bloomberg.com/schemas/bdem'
           bdem:package='s_baltst'
           elementFormDefault='qualified'>

  <xs:complexType name='UnsignedSequence'>
    <xs:sequence>
      <xs:element name='element1' type='xs:unsignedInt'/>
      <xs:element name='element2' type='xs:unsignedShort'/>
      <xs:element name='element3' type='xs:unsignedLong'/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
