standalones/s_baltst/s_baltst_mysequencewithattributes.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:bdem='http://bloomberg.com/schemas/bdem'
           bdem:package='s_baltst'
           elementFormDefault='qualified'>

  <xs:complexType name='MySequenceWithAttributes'>
    <xs:sequence>
      <xs:element name='element1' type='xs:int' minOccurs='0'/>
      <xs:element name='element2' type='xs:string' minOccurs='0'/>
    </xs:sequence>
    <xs:attribute name='attribute1' type='xs:int' use='required'/>
    <xs:attribute name='attribute2' type='xs:string'/>
  </xs:complexType>

</xs:schema>
