groups/bae/baenet/baenet.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:bdem="http://bloomberg.com/schemas/bdem"
        xmlns:http="http://bloomberg.com/schemas/http"
        targetNamespace="http://bloomberg.com/schemas/http"
        elementFormDefault="qualified">

<complexType name='HttpHost'>
<sequence>
    <element name='Name' type='string'/>
    <element name='Port' type='int' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>

<complexType name='HttpContentType'>
<sequence>
    <element name='Type' type ='string'/>
    <element name='SubType' type ='string'/>
    <element name='Charset' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Boundary' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Id' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Name' type ='string' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>

<simpleType name='HttpMessageType'>
  <restriction base='string'>
    <enumeration value='baenet_Request'/>
    <enumeration value='baenet_Response'/>
  </restriction>
</simpleType>

<simpleType name='HttpRequestMethod'>
  <restriction base='string'>
    <enumeration value='BAENET_OPTIONS'>
         <annotation><documentation>This is an OPTIONS request.</documentation></annotation>
    </enumeration>
    <enumeration value='BAENET_GET'>
         <annotation><documentation>This is a GET request.</documentation></annotation>
    </enumeration>
    <enumeration value='BAENET_HEAD'>
         <annotation><documentation>This is a HEAD request.</documentation></annotation>
    </enumeration>
    <enumeration value='BAENET_POST'>
         <annotation><documentation>This is a POST request.</documentation></annotation>
    </enumeration>
    <enumeration value='BAENET_PUT'>
         <annotation><documentation>This is a PUT request.</documentation></annotation>
    </enumeration>
    <enumeration value='BAENET_DELETE'>
         <annotation><documentation>This is a DELETE request.</documentation></annotation>
    </enumeration>
    <enumeration value='BAENET_TRACE'>
         <annotation><documentation>This is a TRACE request.</documentation></annotation>
    </enumeration>
    <enumeration value='BAENET_CONNECT'>
         <annotation><documentation>This is a CONNECT request.</documentation></annotation>
    </enumeration>
  </restriction>
</simpleType>

<simpleType name='HttpStatusCodeCategory'>
  <restriction base='string'>
    <enumeration value='Informational' bdem:id='1'>
         <annotation><documentation>The request was receivied, continuing process.</documentation></annotation>
    </enumeration>
    <enumeration value='Success' bdem:id='4'>
         <annotation><documentation>The action was successfully received, understood, and accepted.</documentation></annotation>
    </enumeration>
    <enumeration value='Redirection' bdem:id='2'>
         <annotation><documentation>Further action must be taken in order to complete the request.</documentation></annotation>
    </enumeration>
    <enumeration value='Client Error' bdem:id='0'>
         <annotation><documentation>The request contains bad syntax or cannot be fulfilled.</documentation></annotation>
    </enumeration>
    <enumeration value='Server Error' bdem:id='3'>
         <annotation><documentation>The server failed to fulfill an apparently valid request.</documentation></annotation>
    </enumeration>
    <enumeration value='Nonstandard' bdem:id='5'>
         <annotation><documentation>The status code is non-standard.</documentation></annotation>
    </enumeration>
  </restriction>
</simpleType>

<simpleType name='HttpTransferEncoding'>
  <restriction base='string'>
    <enumeration value='baenet_identity'>
         <annotation><documentation>identity encoding</documentation></annotation>
    </enumeration>
    <enumeration value='baenet_chunked'>
         <annotation><documentation>chunked encoding</documentation></annotation>
    </enumeration>
  </restriction>
</simpleType>

<complexType name='HttpViaRecord'>
<sequence>
    <element name='ProtocolName' type='string' minOccurs='0' maxOccurs='1'/>
    <element name='ProtocolVersion' type='string'/>
    <element name='ViaHost' type='http:HttpHost'/>
    <element name='Comment' type='string' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>

<complexType name='HttpRequestLine'>
<sequence>
    <element name='Method' type='http:HttpRequestMethod'/>
    <element name='Request-URI' type='string'/>
    <element name='MajorVersion' type='int' default='1'/>
    <element name='MinorVersion' type='int' default='1'/>
</sequence>
</complexType>

<complexType name='HttpStatusLine'>
<sequence>
    <element name='MajorVersion' type='int' default='1'/>
    <element name='MinorVersion' type='int' default='1'/>
    <element name='Status-Code' type='int' default='200'/>
    <element name='Reason-Phrase' type='string'/>
</sequence>
</complexType>

<complexType name='HttpStartLine'>
<choice>
    <element name='requestLine' type='http:HttpRequestLine'/>
    <element name='statusLine'  type='http:HttpStatusLine'/>
</choice>
</complexType>

<!--
<complexType name='HttpGeneralHeaderFields'>
<sequence>
    <element name='Cache-Control' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Connection' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Date' type ='dateTime' minOccurs='0' maxOccurs='1'/>
    <element name='Pragma' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Trailer' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Transfer-Encoding' type ='HttpTransferEncoding' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Upgrade' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Via' type ='HttpViaRecord' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Warning' type ='string' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>
-->

<complexType name='HttpBasicHeaderFields'>
    <!-- This is a combination of HTTP General header fields and HTTP Entity
         header fields -->
   
<sequence>
    <!-- General header fields --> 
    <element name='Cache-Control' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Connection' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Date' type ='dateTime' minOccurs='0' maxOccurs='1'/>
    <element name='Pragma' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Trailer' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Transfer-Encoding' type ='http:HttpTransferEncoding' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Upgrade' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Via' type ='http:HttpViaRecord' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Warning' type ='string' minOccurs='0' maxOccurs='1'/>

    <!-- Entity header fields -->
    <element name='Allow' type ='http:HttpRequestMethod' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Content-Encoding' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Content-Language' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Content-Length' type ='int' minOccurs='0' maxOccurs='1'/>
    <element name='Content-Location' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Content-MD5' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Content-Range' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Content-Type' type ='http:HttpContentType' minOccurs='0' maxOccurs='1'/>
    <element name='Expires' type ='dateTime' minOccurs='0' maxOccurs='1'/>
    <element name='Last-Modified' type ='dateTime' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>

<complexType name='HttpRequestHeaderFields'>
<sequence>
    <element name='Accept' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Accept-Charset' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Accept-Encoding' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Accept-Language' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Authorization' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Expect' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='From' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Host' type ='http:HttpHost' minOccurs='0' maxOccurs='1'/>
    <element name='If-Match' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='If-Modified-Since' type ='dateTime' minOccurs='0' maxOccurs='1'/>
    <element name='If-None-Match' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='If-Range' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='If-Unmodified-Since' type ='dateTime' minOccurs='0' maxOccurs='1'/>
    <element name='Max-Forwards' type ='int' minOccurs='0' maxOccurs='1'/>
    <element name='Proxy-Authorization' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Range' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Referer' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='TE' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='User-Agent' type ='string' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>

<complexType name='HttpResponseHeaderFields'>
<sequence>
    <element name='Accept-Ranges' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Age' type ='int' minOccurs='0' maxOccurs='1'/>
    <element name='ETag' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Location' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Proxy-Authenticate' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Retry-After' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Server' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Vary' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='WWW-Authenticate' type ='string' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>

<!--
<complexType name='HttpEntityHeaderFields'>
<sequence>
    <element name='Allow' type ='HttpRequestMethod' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Content-Encoding' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Content-Language' type ='string' minOccurs='0' maxOccurs='unbounded'/>
    <element name='Content-Length' type ='int' minOccurs='0' maxOccurs='1'/>
    <element name='Content-Location' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Content-MD5' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Content-Range' type ='string' minOccurs='0' maxOccurs='1'/>
    <element name='Content-Type' type ='HttpContentType' minOccurs='0' maxOccurs='1'/>
    <element name='Expires' type ='dateTime' minOccurs='0' maxOccurs='1'/>
    <element name='Last-Modified' type ='dateTime' minOccurs='0' maxOccurs='1'/>
</sequence>
</complexType>
-->

</schema>
