groups/bal/balber/balber.xsd

<!--
 This file outlines the schema for encoding and decoding options used to
 generate and parse BER documents.  The corresponding components can be
 generated by running 'bas_codegen.pl' on this file.
 -->

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:bdem='http://bloomberg.com/schemas/bdem'
        bdem:package='balber'
        elementFormDefault='qualified'>

  <xs:annotation>
    <xs:documentation>
       Schema of options records for balber codec
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name='BerDecoderOptions'>
    <xs:annotation>
      <xs:documentation>BER decoding options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='MaxDepth' type='xs:int'
                  minOccurs='0' maxOccurs='1'
                  default='32'
                  bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>maximum recursion depth</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='SkipUnknownElements' type='xs:boolean'
                   minOccurs='0' maxOccurs='1'
                   default='true'
                   bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>Option to skip unknown elements</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TraceLevel' type='xs:int'
                  minOccurs='0' maxOccurs='1'
                  default='0'
                  bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>trace (verbosity) level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='MaxSequenceSize' type='xs:int'
                  minOccurs='0' maxOccurs='1'
                  default='8388608'
                  bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>maximum sequence size</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='BerEncoderOptions'>
    <xs:annotation>
      <xs:documentation>BER encoding options</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='TraceLevel' type='xs:int'
                  minOccurs='0' maxOccurs='1'
                  default='0'
                  bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>trace (verbosity) level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='BdeVersionConformance' type='xs:int' default='10500'>
        <xs:annotation>
          <xs:documentation>
            The largest BDE version that can be assumed of the corresponding
            decoder for the encoded message, expressed as 10000*majorVersion +
            100*minorVersion + patchVersion (e.g. 1.5.0 is expressed as 10500).

            Ideally, the BER encoder should be permitted to generate any BER
            that conforms to X.690 (Basic Encoding Rules) and X.694 (mapping
            of XSD to ASN.1).  In practice, however, certain unimplemented
            features and missunderstandings of these standards have resulted
            in a decoder that cannot accept the full range of legal inputs.
            Even when the encoder and decoder are both upgraded to a richer
            subset of BER, the program receiving the encoded values may not
            have been recompiled with the latest version and, thus restricting
            the encoder to emit BER that can be understood by the decoder at
            the other end of the wire.  If it is that the receiver has a more
            modern decoder, set this variable to a larger value to allow the
            encoder to produce BER that is richer and more standards
            conformant.  The default should be increased only when old copies
            of the decoder are completely out of circulation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='EncodeEmptyArrays' type='xs:boolean' default='true'
                  bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>
            This option allows users to control if empty arrays are encoded.
            By default empty arrays are encoded as not encoding empty arrays is
            non-compliant with the BER encoding specification.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='EncodeDateAndTimeTypesAsBinary' type='xs:boolean'
                  default='false'
                  bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>
            This option allows users to control if date and time types are
            encoded as binary integers.  By default these types are encoded as
            strings in the ISO 8601 format.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='DatetimeFractionalSecondPrecision' type='xs:int'
                  minOccurs='0' maxOccurs='1'
                  default='3'
                  bdem:allowsDirectManipulation='0'>
        <xs:annotation>
          <xs:documentation>
            This option controls the number of decimal places used for seconds
            when encoding 'Datetime' and 'DatetimeTz'.
        </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
